{% extends 'base.html' %}

{% block title %}Диалог с {{ recipient.username }}{% endblock %}

{% block content %}
<h1>Диалог с {{ recipient.username }}</h1>
<div id="messages" class="messages">
    {% for message in messages %}
    <div class="message" style="background-color: {{ 'lightblue' if message.sender.username == current_user.username else 'lightgreen' }};">
        <strong>{{ message.sender.username }}:</strong> {{ message.content }}<br>
        <small class="timestamp">{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
    </div>
    {% endfor %}
</div>
<form action="{{ url_for('main.messages', recipient=recipient.username) }}" method="POST">
    <textarea id="messageInput" name="content" required></textarea>
    <br>
    <button type="submit">Отправить</button>
</form>
<script>
    // Прокрутить область сообщений вниз
    function scrollToBottom() {
        var messagesDiv = document.getElementById('messages');
        messagesDiv.scrollTop = messagesDiv.scrollHeight;
    }

    // Прокрутить вниз при загрузке страницы
    window.onload = scrollToBottom;

    // Прокрутить вниз при добавлении нового сообщения
    document.querySelector('form').onsubmit = function() {
        setTimeout(scrollToBottom, 100);
    };

    // Автоматическое изменение размера текстового поля
    var textarea = document.getElementById('messageInput');
    textarea.setAttribute('style', 'height:' + (textarea.scrollHeight) + 'px;overflow-y:hidden;');
    textarea.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });

    // Запретить пользователю изменять размер текстового поля вручную
    textarea.style.resize = 'none';
</script>
{% endblock %}
