{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form action="{{ url_for('main.register') }}" method="POST">

    <label for="name">Имя</label>
    <input type="text" name="name" id="name" required>
    <br>

    <label for="surname">Фамилия</label>
    <input type="text" name="surname" id="surname" required>
    <br>

    <label for="birthday">Дата рождения</label>
    <input type="date" name="birthday" id="birthday" required>
    <br>

    <label for="city">Город</label>
    <input type="text" name="city" id="city" required>
    <br>

    <label for="username">Никнейм пользователя (логин)</label>
    <input type="text" name="username" id="username" required>
    <br>

    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required>
    <br>

    <label for="password2">Повтор пароля</label>
    <input type="password" name="password2" id="password" required>
    <br>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
